@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="background-image:linear-gradient(rgba(40, 0, 50, 0.5), rgba(40, 40, 40, 0.5)), url('/images/general/xavi-cabrera-kn-UmDZQDjM-unsplash.jpg'); background-size: cover;" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Welcome to Curious Toys!</h1>
        <p class="lead fw-normal">Your go-to destination in Vancouver for cool toys and gadgets</p>
        <!--<a class="btn btn-outline-secondary" href="#">Coming soon</a>-->
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<br />
<div>
    <h2>We've organized our offerings into three exciting categories:</h2>

    <p><strong>STEM Toys:</strong> Dive into the world of science with our engaging and educational games.</p>
    <p><strong>Puzzles:</strong> Challenge your mind with our brain teasers and captivating jigsaw puzzles.</p>
    <p><strong>Outdoors Toys:</strong> Have fun and stay active with our collection of games for both leisure and exercise.</p>
    <br />
    <h2>At Curious Toys, our mission is clear:</h2>

    <p><strong>Novel and Unique Products:</strong> We pride ourselves on sourcing and providing toys and gadgets that you won't easily find elsewhere in Vancouver.</p>
    <p><strong>Highest Quality Delivery:</strong> Expect quick and eco-friendly shipping to ensure your products reach you in top-notch condition.</p>
    <p><strong>Friendly, Quick Service:</strong> Our team is here to assist you in a friendly manner, making your shopping experience not just seamless but enjoyable.</p>

    <p>Discover a world of curiosity and fun at Curious Toys—where play meets passion!</p>

</div>